<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>
    <add key="PollInterval" value="20" />
    <add key="Verbose" value="true" />

    <add key="PrimaryDrive" value="e" />
    
    <add key="PeakStartHour" value="6" />
    <add key="PeakFinishHour" value="1" />    
    
    <add key="TvFolder" value=".\\Output\\TV\\" />
    <add key="MovieFolder" value=".\\Output\\Movies\\" />    
    <add key="ShadowMovieFolder" value=".\\Output\\Movies2\\" />        
    <add key="ViewQueueFolder" value=".\\Output\\View Queue\\" /> 
    <add key="NflFolder" value=".\\Output\\NFL\\" />        
    <add key="MagazineCollectionFolder" value=".\\Output\\Magazines\\" />
    <add key="MagazineDestinationFolder" value=".\\Output\\View Queue\\Magazines\\" />
    <add key="SoccerFolder" value=".\\Output\\Soccer\\" />    
    
    <add key="DownloadFolder" value=".//Output//DL//" />
    
    <!--  better to use reletave sub dirs -->
    <add key="OutputDirectory" value=".//Output//" />
    <add key="XmlDirectory" value=".//xml//" />
  
    <add key="log-directory" value=".//logs//" />

    <add key="tfl-directory" value="g://tfl//" />

    <add key="MailServer" value="mail.iinet.net.au" />
    <add key="MailUsername" value="quarterback16@iinet.net.au" />
    <add key="MailPassword" value="Brisbane59!" />

    <add key="MediaLogRecipients" value="quarterback16@iinet.com.au,stephen.colonna@employment.gov.au" />
    <add key="MediaLogRecipients" value="stephen.colonna@employment.gov.au,aylav37@gmail.com" />
    
    <add key="LogRecipients" value="quarterback16@iinet.com.au,stephen.colonna@employment.gov.au" />

  </appSettings>

  
  <connectionStrings>
    <add name="NflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\nfl\\team.dbf" />
    <add name="TflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\tycoon\\comp.dbf" />
    <add name="CtlConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\tfl_ctl.dbf" />
  </connectionStrings>
  
    <!--<connectionStrings>
    <add name="NflConnectionString"
         connectionString="Provider=VFPOLEDB.1;Data Source=z:\\nfl\\team.dbf" />
    <add name="TflConnectionString"
         connectionString="Provider=VFPOLEDB.1;Data Source=z:\\tycoon\\comp.dbf" />
    <add name="CtlConnectionString"
         connectionString="Provider=VFPOLEDB.1;Data Source=z:\\tfl_ctl.dbf" />
  </connectionStrings>-->

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/" />

    <targets>     
      <target name="file" xsi:type="File" fileName="./logs//GerardButler-${shortdate}.log" layout="${longdate} ${message}" />
      <target name="console" xsi:type="Console" layout="${longdate} ${stacktrace} ${message}" />
    </targets>
 
    <rules>
      <logger name="*" minlevel="trace" writeTo="console,file" />
      <logger name="Butler.Models.Job" minlevel="info" writeTo="file" />
    </rules>  
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
