<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="PollInterval" value="20"/>
    <add key="Verbose" value="true"/>

    <add key="PrimaryDrive" value="e"/>
    
    <add key="PeakStartHour" value="8"/>
    <add key="PeakFinishHour" value="23"/>    
    
    <add key="TvFolder" value=".\\Output\\TV\\"/>
    <add key="MovieFolder" value=".\\Output\\Movies\\"/>    
    <add key="ShadowMovieFolder" value=".\\Output\\Movies2\\"/>        
    <add key="ViewQueueFolder" value=".\\Output\\View Queue\\"/> 
    <add key="NflFolder" value=".\\Output\\NFL\\"/>        
    <add key="MagazineCollectionFolder" value=".\\Output\\Magazines\\"/>
    <add key="MagazineDestinationFolder" value=".\\Output\\View Queue\\Magazines\\"/>
    <add key="SoccerFolder" value=".\\Output\\Soccer\\"/>    
    
    <add key="DownloadFolder" value=".//Output//DL//"/>
    
    <!--  better to use reletave sub dirs -->
    <add key="OutputDirectory" value=".//Output//"/>
    <add key="XmlDirectory" value=".//xml//"/>
  
    <add key="log-directory" value=".//logs//"/>

    <add key="tfl-directory" value="g://tfl//"/>
    
  </appSettings>

  
  <connectionStrings>
    <add name="NflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\nfl\\team.dbf"/>
    <add name="TflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\tycoon\\comp.dbf"/>
    <add name="CtlConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=g:\\tfl\\tfl_ctl.dbf"/>
  </connectionStrings>
  
    <!--<connectionStrings>
    <add name="NflConnectionString"
         connectionString="Provider=VFPOLEDB.1;Data Source=z:\\nfl\\team.dbf" />
    <add name="TflConnectionString"
         connectionString="Provider=VFPOLEDB.1;Data Source=z:\\tycoon\\comp.dbf" />
    <add name="CtlConnectionString"
         connectionString="Provider=VFPOLEDB.1;Data Source=z:\\tfl_ctl.dbf" />
  </connectionStrings>-->

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/"/>

    <targets>     
      <target name="file" xsi:type="File" fileName="./logs//GerardButler-${shortdate}.log" layout="${longdate} ${message}"/>
      <target name="console" xsi:type="Console" layout="${longdate} ${stacktrace} ${message}"/>
      <target name="file1" xsi:type="File" filename="./logs//collector-${shortdate}.log"/>    
    </targets>
 
    <rules>
      <logger name="*" minlevel="info" writeTo="console,file,file1"/>
      <logger name="Butler.Models.MediaJob" minlevel="info" writeTo="file"/>
    </rules>  
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
